/** @format */

.main {
  margin: 10px;
  min-width: 300px;
  padding: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.fejlec {
  margin: 0px auto;
  height: 270px;
  width: 100%;
  background-size: 100% 100%;
  background-image: url("/fejlec.jpg");
}

.logo {
  margin-top: 10px auto 0px auto;
  /* width: 50%; */
  height: 215px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.logoImg {
  margin: 20px auto 0px auto;
  /* max-width: 415px; */
  min-width: 300px;
  max-height: 205px;
  object-fit: contain;
}

.tartkozep {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url("/tart-hatter.jpg");
  background-size: 100%;
  min-height: 520px;
}

.sideProfile {
  flex: 1;
  margin: 10px 25px;
  border: 20px solid transparent;
  border-image: url("/tart-szel.jpg") 25 round;
  background-color: #dad1a0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kozep {
  margin: 10px 25px;
  flex: 0 0 auto;
  width: 950px;
  border: 20px solid transparent;
  border-image: url("/tart-szel.jpg") 25 round;
  background-color: #dad1a0;
}

.lablec {
  margin: 0px auto;
  background-image: url("/lablec.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: 45px;
}

@media (max-width: 1316px) {
  .sideProfile {
    display: none;
  }
  .kozep {
    flex: 1;
  }
}
