/** @format */

.nav {
  padding-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 22px;
  cursor: default;
}

.navitem {
  color: goldenrod;
  font-size: 1.5rem;
  font-weight: 550;
  margin: 0px 10px;
}

.link {
  text-decoration: none;
  color: goldenrod;
  cursor: pointer;
}

.link:hover {
  text-decoration: none;
  color: darkgoldenrod;
}

.shrunk1150 {
  display: none;
}

.shrunk650 {
  display: none;
}

.menu1150,
.menu650 {
  color: goldenrod;
  font-size: 1.5rem;
  font-weight: 550;
}

.menu1150:hover,
.menu650:hover {
  color: darkgoldenrod;
}

.hamburgerMenu {
  display: flex;
  min-width: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 20px solid transparent;
  border-image: url("/lablec.jpg") 25 round;
  background-color: #dad1a0;
}

@media (max-width: 1150px) {
  .nav {
    display: none;
  }
  .shrunk1150 {
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 22px;
    cursor: default;
  }
  .shrunk1150 > .link {
    cursor: pointer;
  }
}

@media (max-width: 650px) {
  .nav {
    display: none;
  }
  .shrunk1150 {
    display: none;
  }
  .shrunk650 {
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 22px;
    cursor: default;
  }
  .shrunk650 > .link {
    cursor: pointer;
  }
}
