.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 380px;
  font-size: 22px;
  font-weight: 700;
}

.totp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2px;
  width: 200px;
  height: 45px;
}

.totp > * {
  width: 20px;
  border-radius: 5px;
  border-color: #0c1446;
  font-size: 2rem;
}

.icons {
  margin: 20px 0;
  height: 33px;
}
