/** @format */
/*
 * Custom styles for the Wesnoth Portal
*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #640;
}

::-webkit-scrollbar-thumb:hover {
  background: #887c79;
}

html {
  margin: auto;
  min-width: 320px;
}

body {
  margin: 0;
  /* min-width: 400px; */
  background-image: url("/hatter.jpg");
  background-origin: border-box;
  background-size: contain;
  background-repeat: repeat;
  background-attachment: fixed;
}
